# Android & Gradle
*.iml
.gradle/
build/
*/build/
local.properties

# IntelliJ/Android Studio
.idea/
*.ipr
*.iws
*.bak

# Kotlin Multiplatform Artifacts
.kotlinc/
*.class
*.jar
*.kotlin_module
*.bin

# OS-specific
.DS_Store
Thumbs.db

# Jetpack Compose Preview
captures/

# Logs
*.log

# Misc
out/
gen/

#IOS#
/iosApp/